* body {
	background-image: url("../images/music-background.jpg");
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#heading {
	text-align: center;
	height: 50px;
	margin: auto;
	margin-top: 50px;
}

h1 {
	font-size: 60px;
	font-family: 'Bungee Inline'
}

h2 {
	font-size: 70px;
	font-family: 'Kaushan script', cursive;
}

.alphabet {
	margin-top:170px;
	margin-left: 350px;
	
}

.btn-lg {
	padding: 30px;
}



